


*{

    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;

}

p, h2, h3, a, i{

    color: white;

}


    .topo{


        width: 100vw;
        height: 10vh; 
        position: fixed;
        margin: 0;
        align-items: center;
        display: flex;
        flex-wrap: wrap;

        }



        .itns{  

            padding-top: 1.5%;
            text-align: center;
            width: 30%;
            height: 100%;
            border-bottom: 1px solid white;
            background-color: rgb(43, 43, 43);
            

        }
        
            .itns p{

                color: white;

            }


        .itnslg{  

            padding-top: 1.3%;
            text-align: center;
            width: 40%;
            height: 100%;
            border-bottom: 1px solid white;
            background-color: rgb(43, 43, 43);
            background-image: linear-gradient(to left, rgb(43, 43, 43) 50%,  rgb(38, 36, 36) 50%);
            background-size: 200% 100%;
            background-position: right;
            transition: background-position 0.5s ease;

        }

        .itns:hover{ 

            cursor: pointer;
            background-color: rgb(38, 36, 36);

        }

        .itnslg:hover{
            
            cursor: pointer;

        }

        .logo{
                
            position: relative;
            width: 100%;
            height: 30%;


        }

            .logo span{

                margin-left: 5%;
                position: absolute;
                width: 150px;
                height: 4px;
                background: #ffffff;
                transition: all 0.3s ease;
                transform-origin: center    ;
                left: 50%;

            }

            .logo span:hover{

                cursor: pointer;

            }


            .logo span:nth-child(1){

                left: 32%; 
                top: 0;

            }


            .logo span:nth-child(2){
            
                left: 40%; 
                top: 13px;
            
            }

            .logo span:nth-child(3){
            
                left: 25%;
                top: 26px;
            
            }

            .logo.ativo span:nth-child(1){

                left: 0;
                top: 15px;
                width: 50px;
                transform: rotate(45deg);

            }

            .logo.ativo span:nth-child(2){

                left: 0;
                width: 1%;
                opacity: 0;

            }


            .logo.ativo span:nth-child(3){

                left: 0;
                width: 50px;
                top: 15px;
                transform: rotate(-45deg);

            }


            .itnslg.ativo{

                background-position: left;

            }




    .contato{

        visibility: hidden;
        pointer-events: none;
        
        top: 10%;
        left: 0;
        z-index: 1000;
        min-width: 100vw;
        min-height: 100vh;
        position: fixed;       
        justify-content: center;
        align-items: center;
        transition: background-color 0.5s ease, opacity 0.5s ease;
        background-color: transparent;

    }

    .contato.ativo{

        background-color: #4f3535a7;
        display: flex;
        visibility: visible;
        pointer-events: auto;


    }


    .boxcntatc{

        top: -5vh;
        position: relative;
        text-align: center;
        min-width: 330px;
        width: 30%;
        height: 80vh;
        background-color: rgb(44, 30, 30);
        border-radius: 15px;
        border: 1px solid #5c4040;

    }


    


    .fech{

        text-align: center;
        position: absolute;
        top: 3%;
        margin-left: 90%;
        cursor: pointer;
        width: 5%;
        height: 5%;

    }


    .txtcontato{

        padding-top: 10%;
        height: auto;
        text-align: center;

    }


    .corp{

        max-width: 100vw;
        min-height: 100vh; 

    }


        .cnt{

            width: 100%;
            height: 75vh;
            background-color: rgb(70, 70, 70);
            padding-top: 2%;
            border-left: 2px solid white;
            border-right: 2px solid white;


        }

            .bx{
                
                padding-top: 4%;
                padding-left: 1%;   
                display: flex;

            }

            .cntbxcont{

                display: flex;
                flex-direction: column;
                margin-left: -6%;
                margin-top: 2.5%;
                overflow-y: auto;
                height: auto;
                max-height: 53vh;
                width: 39%;
                background-color: white;
                border-radius: 10px;

            }
            


                .opt{

                    border: 1px solid white;
                    flex: 1;
                    padding-bottom: 7%;
                    width: 100%;
                    

                }


                    .opt, p{

                        padding-left: 0.5%;
                        padding-top: 0.5%;
                        color: black;

                    }

                    
                    .opt:hover{

                        border-color: rgb(220, 220, 220);
                        background-color: rgb(210, 210, 210);
                        cursor: pointer;

                    }


                




            .bxcont{

                padding-left: 5%;
                height: 80vh;
                width: 60%;
                display: flex;

            }

                .contnovidade{

                    max-height: 60vh;             
                    max-width: 35%;       
                    height: auto;
                    width: auto;
                    margin-left: auto;

                }





        .cnt2box{

            width: 100%;
            height: 65vh;
            display: flex;

        }






        .cnt1{

            width: 60%;
            background-color:rgb(99, 94, 94);
            border: 1px solid white;

        }

            .bx1{

                padding-top: 2%;
                padding-left: 2%;

            }



        .cnt2{

            width: 44%;
            background-color: rgb(143, 143, 143);
            border: 1px solid white;

        }

            .bx2{

                padding-top: 2%;
                padding-left: 2%;

            }



        .cnt3{

            width: 100%;
            height: 100vh;
            background-color: rgb(128, 127, 126);
            border: 1px solid white;
            
        }

            .bx3{

                padding-top: 2%;
                padding-left: 2%;

            }

        .painel {

            top: 10vh;
            position: fixed;
            left: 0;
            width: 40.4%;
            height: 90%;
            background: #555;
            color: white;
            transform: translateX(-100%); 
            transition: transform 0.5s ease;

        }

            .painel.ativo {

                transform: translateX(0); 
        
            }

            .paineltxt{

                padding-top: 3%;
                padding-left: 3%;


            }
