


*{

    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;

}

.scroll{

    overflow: hidden;

}



p, h2, h3, a, i{

    color: white;

}


ul{

    padding-left: 5%;

}


    .topo{


        width: 100vw;
        height: 10vh; 
        position: fixed;
        margin: 0;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        z-index: 2;

        }



        .itns{  

            padding-top: 1.5%;
            text-align: center;
            width: 30%;
            height: 100%;
            border-bottom: 1px solid white;
            background-color: rgb(43, 43, 43);
            

        }
        
            .itns p{

                color: white;

            }


        .itnslg{  

            padding-top: 1.3%;
            text-align: center;
            width: 40%;
            height: 100%;
            border-bottom: 1px solid white;
            background-color: rgb(43, 43, 43);
            background-image: linear-gradient(to left, rgb(43, 43, 43) 50%,  rgb(38, 36, 36) 50%);
            background-size: 200% 100%;
            background-position: right;
            transition: background-position 0.5s ease;

        }

        .itns:hover{ 

            cursor: pointer;
            background-color: rgb(38, 36, 36);

        }

        .itnslg:hover{
            
            cursor: pointer;

        }

        .logo{
                
            position: relative;
            width: 100%;
            height: 30%;


        }

            .logo span{

                margin-left: 5%;
                position: absolute;
                width: 150px;
                height: 4px;
                background: #ffffff;
                transition: all 0.3s ease;
                transform-origin: center    ;
                left: 50%;

            }

            .logo span:hover{

                cursor: pointer;

            }


            .logo span:nth-child(1){

                left: 32%; 
                top: 0;

            }


            .logo span:nth-child(2){
            
                left: 40%; 
                top: 13px;
            
            }

            .logo span:nth-child(3){
            
                left: 25%;
                top: 26px;
            
            }

            .logo.ativo span:nth-child(1){

                left: 0;
                top: 15px;
                width: 50px;
                transform: rotate(45deg);

            }

            .logo.ativo span:nth-child(2){

                left: 0;
                width: 1%;
                opacity: 0;

            }


            .logo.ativo span:nth-child(3){

                left: 0;
                width: 50px;
                top: 15px;
                transform: rotate(-45deg);

            }


            .itnslg.ativo{

                background-position: left;

            }
    

    .contato{

        visibility: hidden;
        pointer-events: none;
        
        top: 10%;
        left: 0;
        z-index: 1000;
        min-width: 100vw;
        min-height: 100vh;
        position: fixed;       
        justify-content: center;
        align-items: center;
        transition: background-color 0.5s ease, opacity 0.5s ease;
        background-color: transparent;

    }

    .contato.ativo{

        background-color: #4f3535a7;
        display: flex;
        visibility: visible;
        pointer-events: auto;


    }


    .boxcntatc{

        top: -5vh;
        position: relative;
        text-align: center;
        min-width: 330px;
        width: 30%;
        height: 80vh;
        background-color: rgb(44, 30, 30);
        border-radius: 15px;
        border: 1px solid #5c4040;

    }


    


    .fech{

        text-align: center;
        position: absolute;
        top: 3%;
        margin-left: 90%;
        cursor: pointer;
        width: 5%;
        height: 5%;

    }


    .txtcontato{

        padding-top: 10%;
        height: auto;
        text-align: center;

    }


    .corp{

        max-width: 100vw;
        min-height: 100vh; 

    }


        .cnt{

            width: 100%;
            height: 65vh;
            background-color: rgb(70, 70, 70);
            padding-top: 2%;
            border-left: 2px solid white;
            border-right: 2px solid white;


        }

            .bx{
                
                padding-top: 4%;
                padding-left: 1%;   
                display: flex;

            }

            .cntbxcont{

                display: flex;
                flex-direction: column;
                margin-left: -6%;
                margin-top: 2.5%;
                overflow-y: auto;
                height: auto;
                max-height: 40vh;
                width: 39%;
                background-color: white;
                border-radius: 10px;

            }
            


                .opt{

                    border: 1px solid white;
                    flex: 1;
                    padding-bottom: 7%;
                    width: 100%;
                    max-height: 33.33333333333333%;
                    

                }


                    .opt > h2, .opt > p{

                        padding-left: 2%;
                        padding-top: 2%;
                        color: black;

                    }


                    
                    .opt:hover{

                        border-color: rgb(220, 220, 220);
                        background-color: rgb(210, 210, 210);
                        cursor: pointer;

                    }


                




            .bxcont{

                align-items: left;
                padding-left: 5%;
                height: 80vh;
                width: 60%;
                display: flex;
                flex-direction: row; 

            }

                .contnovidade{

                    max-height: 50vh;             
                    max-width: 35%;       
                    height: auto;
                    width: auto;
                    margin-left: auto;

                }





        .cnt2box{

            width: 100%;
            height: 40vh;
            display: flex;

        }






        .cnt1{

            width: 60%;
            background-color:rgb(99, 94, 94);
            border: 1px solid white;

        }

            .bx1{

                padding-top: 2%;
                padding-left: 2%;

            }

                .linksbx1{

                    padding-top: 5%;
                    padding-bottom: 10%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    height: 40vh;

                }

                .linksbx1>a{
    
                    padding-left: 2%;

                }


        .cnt2{

            width: 44%;
            background-color: rgb(143, 143, 143);
            border: 1px solid white;

        }

            .bx2{

                padding-top: 2.7%;
                padding-left: 2%;

            }

                .linksbx2{

                    padding-top: 5%;
                    padding-bottom: 10%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    height: 40vh;

                }

                .linksbx2>a{

                    padding-left: 3%;
                    width: fit-content;

                }


        .cnt3{

            width: 100%;
            height: 100vh;
            background-color: rgb(128, 127, 126);
            border: 1px solid white;
            
        }

            .bx3{

                padding-top: 2%;
                padding-left: 2%;

            }

                .contfts{

                    display: flex;

                }

                    .ttfts{

                        margin-bottom: 5vh;

                    }

                    .ft{

                        display: flex;
                        flex-direction: column;
                        outline: 3px solid rgb(255, 245, 245);
                        border-radius: 15px;
                        background-color: white;
                        padding: 2%;
                        width: 30vw; 
                        height: 80vh;
                        margin-right: 3vw;

                    }

                    .ft:hover{

                        outline: 8px solid rgb(255, 241, 178);
                        transition: outline 0.5s ease, opacity 0.5s ease;
                        
                    }

                    .ft p{

                        color: black;

                    }

                    .textsolu{

                        padding: 3%;
                        padding-top: 0;

                    }

                    .btsolc{

                        width: 100%;
                        height: 100%;
                        padding: 3%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        margin-bottom: 5vh;

                    }

                    .btn-soluc{

                        width: 15vw;
                        height: 4vh;
                        background-color: rgb(48, 138, 222);
                        border-radius: 15px;
                        transition: background-color 0.5s ease;

                    }

                    .btn-soluc:hover{

                        background-color: rgb(93, 170, 242);
                        cursor: pointer;

                    }

                    .infoserv{

                        display: flex;
                        opacity: 0;
                        visibility: hidden;
                        z-index: 500;
                        pointer-events: none;
                        top: 10%;
                        min-width: 100vw;
                        min-height: 100vh;
                        position: fixed;       
                        justify-content: center;
                        align-items: center;
                        background-color: transparent;
                        transition: background-color 0.5s ease;

                        

                    }

                    .pp{
                        
                        pointer-events: all;
                        padding-bottom: 1%;
                        width: fit-content; 
                        margin-left: auto;

                    }
                    .pp:hover{cursor: pointer;}

                    .info{

                        display: flex;
                        background-color: #f1f6ff;
                        min-width: 70vw;
                        max-width: 70vw;
                        min-height: 100vh;
                        left: 20%;

                    }

                    .fchinfo{

                        background-color: #f1f6ff;
                        text-align: right;
                        padding: 2%;
                        padding-top: 1%;
                        padding-bottom: 1%;

                    }

                    .info p{

                        color: black;

                    }
                    
                    .fchinfo p{

                        color: black;
                    }

                    .ttlinfo{

                        height: auto;
                        margin-bottom: 2vh;

                    }

                    .txtttl{

                        color: black;
                        text-align: left;

                    }

                    .txtinfo{

                        text-align: left;

                    }

                    .infodisplaymain{

                        width: 30%;
                        height: 80vh;

                    }
                    
                    .infotxt{

                        width: 70%;
                        height: 80vh;
                        border: 1px solid black;
                        padding-left: 1%;
                        padding-right: 2%;

                    }

                    .infodisplay{

                        width: 100%;
                        height: 55vh;
                        border: 1px solid black;
                        padding-left: 1%;
                        padding-right: 2%;

                    }

                    .infobottom{

                        width: 100%;
                        height: 25vh;
                        border: 1px solid black;
                        padding-left: 1%;
                        padding-right: 2%;

                    }


                    .atvinf{

                        opacity: 1;
                        visibility: visible;
                        background-color: #5c4040;
                        pointer-events: all;

                    }


        .fm{

            height: 90vh;
            background-color: rgb(64, 62, 59);
            border: 1px solid white;
            display: flex;


        }

            .infos{

                width: 40%;

            }


            .qm{

                width: 70%;
                height: 90vh;
                border-left: 2px solid white;
                padding-top: 2%;
                padding-left: 2%;
                padding-right: 5%;

            }


            .qm>p{

                padding-left: 3%;
                padding-top: 3%;


            }

            .contt{

                width: fit-content;
                text-decoration: underline;

            }

            .contt:hover{

                cursor: pointer;

            }

        

        .painel {

            top: 10vh;
            position: fixed;
            left: 0;
            width: 40.4%;
            height: 90%;
            background: #555;
            color: white;
            transform: translateX(-100%); 
            transition: transform 0.5s ease;
            z-index: 1;

        }

            .painel.ativo {

                transform: translateX(0); 
        
            }

            .paineltxt{

                padding-top: 3%;
                padding-left: 3%;

            }

            .paineltxt>p{

                padding-left: 2%;
                padding-bottom: 4%;
                width: fit-content;

            }

            .paineltxt>p:hover{

                cursor: pointer;

            }

            .paineltxt>h2{

                width: fit-content;

            }


            .rz{

                position: absolute;
                bottom: 0;

            }

            .rz:hover{

                cursor: default  !important;

            }

.devi{

    height: 100vh;
    width: 99vw;
    background-color: white;
    position: fixed;
    z-index: 1;
    display: none;

}

.atv{

    display: flex;

}

.log{

    text-align: center;
    padding-top: 25vh; 
    background-color: rgb(222, 217, 213);
    height: 100%;
    width: 100%;

}


    .log>h3{

        color: black;

    }

    .log input{

        border: 1px solid black;
        border-radius: 3px;
        height: 5vh;
        margin-bottom: 0.5%;
        padding: 0.5%;
        user-select: text;

    }

    .log button{

        border: 1px solid black;
        border-radius: 3px;
        width: 15vw;
        height: 5vh;


    } 

    .btnlog{

        margin-left: 6.65%;
        width: 5vw;
        cursor: pointer;

    }

    .btn:hover{

        cursor: pointer;

    }